 
 .container-fluid {
 position: relative;
  text-align: center;
  vertical-align: middle;
 }

 .container-fluid .btn {
     position: absolute;
     
 }

#about-me-card {
    font-size: 20px;
    font-family:'Assistant', sans-serif;
    max-width: 480px;
    text-align: center;
    margin-left: 30%;
    margin-top: -45%;
    position: relative;
}
@media(max-width: 1200px) {
    #about-me-card {
        font-size: 16px;
        
    }
}


#about-photo {
    max-width: 104%;
    display: block;
    margin: 0 auto;
    margin-left: -40px;
}

#header {
 font-size: 35px;
font-family: 'DM Serif Text', serif;
padding-top: 105px;
padding-bottom: 15px;
font-weight: 400;
color: #011638;
    
}

@media(max-width: 576px) {
    #header {
        font-size: 25px;
         margin-left: -30%;
        
    }
}

#about-me-text {
    font-size: 20px;
    text-align: center;
    align-items: center;
}

@media(max-width: 769px) {
    #about-me-text {
        font-size: 16px;
        margin-left: -30%;
    }
}

#portfolio {
background-color: #FF7F5B;
   color: #FFF;
    border: none;
    width: 145px;
    height: 50px;
    border-radius: 12px;
    margin-top: 70px;
    margin-right: 15px;
    font-weight: 600;
    font-family:'Assistant', sans-serif;
   
}

@media(max-width: 576px) {
    #portfolio {
       width: 120px;
    height: 45px;
    margin-left: -20%;
    vertical-align: middle;
    }
}

#portfolio:hover {
    border: 3px solid;
    border-color: #FFCE4D;
    color: #FFF;
    background-color: #FFCE4D;
}

#resume {
background-color: #FFF;
   color: #FF7F5B;
    border: 3px solid;
    border-color: #FF7F5B;
    width: 145px;
    height: 50px;
    border-radius: 12px;
    margin-top: 70px;
    margin-left: 15px;
    font-weight: 600;
    font-family:'Assistant', sans-serif;
}

@media(max-width: 576px) {
    #resume {
       width: 120px;
       height: 45px;
       vertical-align: middle;
        
    }
}
#resume:hover {
    border: 3px solid;
    border-color: #FFCE4D;
    color: #FFCE4D;
    background-color: #FFF;
}

#dots1 {
    max-width: 100%;
}

@media(max-width: 576px) {
    #dots1 {
      margin-left: -20%;
    }
}