 
 .container-fluid {
  text-align: center;
  vertical-align: middle;
  max-width: 1440px;
  
 }
#header {
 font-size: 35px;
font-family: 'DM Serif Text', serif;
padding-top: 40px;
padding-bottom: 15px;
font-weight: 400;
color: #011638;
    
}

@media(max-width: 576px) {
    #header {
        font-size: 25px;
        
    }
}

#about-text {
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 22px;
    max-width: 600px;
    font-family:'Assistant', sans-serif;
}

@media(max-width: 1200px) {
    #about-me-text {
        font-size: 16px;
        
    }
}

#portfolio-bnt {
background-color: #FF7F5B;
   color: #FFF;
    border: none;
    width: 145px;
    height: 50px;
    border-radius: 12px;
    font-size: 20px;
    margin-top: 60px;
    margin-right: 15px;
    font-weight: 600;
    font-family:'Assistant', sans-serif;
   
}

@media(max-width: 576px) {
    #portfolio-bnt {
       width: 120px;
    height: 45px;
    vertical-align: middle;
    font-size: 16px;
    }
}

#portfolio-bnt:hover {
    border: 3px solid;
    border-color: #FFCE4D;
    color: #FFF;
    background-color: #FFCE4D;
}

#resume-bnt {
background-color: #FFF;
   color: #FF7F5B;
    border: 3px solid;
    border-color: #FF7F5B;
    width: 145px;
    height: 50px;
    border-radius: 12px;
     font-size: 20px;
    margin-top: 60px;
    margin-left: 15px;
    font-weight: 600;
    font-family:'Assistant', sans-serif;
}

@media(max-width: 576px) {
    #resume-bnt {
       width: 120px;
       height: 45px;
       vertical-align: middle;
       font-size: 16px;
        
    }
}
#resume-bnt:hover {
    border: 3px solid;
    border-color: #FFCE4D;
    color: #FFCE4D;
    background-color: #FFF;
}

#dots1 {
    max-width: 100%;
}
