#My-call-to-action {
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 3%;
    position: relative;
    max-width: 100%;
   height: 280px;
}

@media(max-width: 769px) {
    #My-call-to-action {
        max-width: 100%;
        height: 150px;
    }
}

#ending-card-text {
    margin-top: -225px;
    max-width: 32%;
    margin-left: 20%;
    font-size: 23px;
    font-family:'Assistant', sans-serif;
     position: relative;
}
@media(max-width: 769px) {
    #ending-card-text {
        font-size: 15px;
        margin-top: -130px ;
    }
}
#contact-me-button{
    text-decoration: none;
}
#lets-chat-two {
    background-color: #FF7F5B;
   color: #FFF;
    border: none;
    width: 160px;
    height: 60px;
    border-radius: 12px;
    margin-left: 520px;
    margin-top: -15px;
    font-weight: 600;
    font-family:'Assistant', sans-serif;
    font-size: 20px;
    position: relative;
}

#lets-chat-two:hover {
  border: 3px solid;
  border-color: #ff7f5b;
  color: #ff7f5b;
  background-color: #fff;
    font-family:'Assistant', sans-serif;
}

@media(max-width: 1200px) {
    #lets-chat-two {
        display: block;
        margin: auto;
        margin-left: 150px;
        font-size: 15px;
        width: 160px;
        height: 60px;
        margin-top: 50px;
    }
}





