#My-call-to-action {
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 3%;
}

#ending-card-text {
    margin-top: 272%;
    max-width: 25%;
    margin-left: 30%;
    font-size: 23px;
    font-family:'Assistant', sans-serif;
}

#lets-chat {
    background-color: #FF7F5B;
   color: #FFF;
    border: none;
    width: 160px;
    height: 60px;
    border-radius: 12px;
    margin-left: 374%;
    margin-top: -12%;
    font-weight: 600;
    font-family:'Assistant', sans-serif;
    font-size: 20px;
}

#lets-chat:hover {
  border: 3px solid;
  border-color: #ff7f5b;
  color: #ff7f5b;
  background-color: #fff;
    font-family:'Assistant', sans-serif;
}