#My-call-to-action {
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 3%;
    position: relative;
    max-width: 100%;
   height: 280px;
}

@media(max-width: 769px) {
    #My-call-to-action {
        max-width: 100%;
        height: 130px;
    }
}

#ending-card-text {
    margin-top: -230px;
    max-width: 25%;
    margin-left: 20%;
    font-size: 23px;
    font-family:'Assistant', sans-serif;
     position: relative;
}
@media(max-width: 769px) {
    #ending-card-text {
        font-size: 13px;
        margin-top: -130px ;
    }
}

#lets-chat-two {
    background-color: #FF7F5B;
   color: #FFF;
    border: none;
    width: 160px;
    height: 60px;
    border-radius: 12px;
    margin-left: 565px;
    margin-top: -15px;
    font-weight: 600;
    font-family:'Assistant', sans-serif;
    font-size: 20px;
    position: relative;
}

#lets-chat-two:hover {
  border: 3px solid;
  border-color: #ff7f5b;
  color: #ff7f5b;
  background-color: #fff;
    font-family:'Assistant', sans-serif;
}

@media(max-width: 1200px) {
    #lets-chat-two {
        font-size: 15px;
        width: 160px;
        height: 60px;
        margin-left: 150px;
        margin-top: 30px;
    }
}

#coder {
    text-align: center;
    color: #233143;
    font-family: "Assistant", sans-serif;
    font-family: "Assistant", sans-serif;
    font-size: 15px;
}

#github {
    text-decoration: none;
    color: #233143;
    font-family: "Assistant", sans-serif;
    font-size: 15px;
}

#github:hover {
    text-decoration: underline;
    font-weight: 800;
}

footer {
    background-color: #233143;
}

ul {
list-style-type: none;
}

#footer-link-1 {
    color: #FFF;
    font-family: "Assistant", sans-serif;
    font-size: 20px;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 20%;
}

@media(max-width: 769px) {
    #footer-link-1 {
        font-size: 15px;
    }
}

#port-link {
text-decoration: none;
color: #FFF;
}

#footer-link-2 {
 color: #FFF;
font-family: "Assistant", sans-serif;
font-size: 20px;
 padding-left: 20%;
}

@media(max-width: 769px) {
    #footer-link-2 {
        font-size: 15px;
    }
}

#footer-link-3 {
    color: #FFF;
    font-family: "Assistant", sans-serif;
    font-size: 20px;
    padding-top: 20%;
    padding-bottom: 20%;
     padding-left: 20%;
}

@media(max-width: 769px) {
    #footer-link-3 {
        font-size: 15px;
    }
}

#footer-contact {
     color: #FFF;
    font-family: "Assistant", sans-serif;
    font-size: 20px;
    padding-top: 6%;
}

@media(max-width: 769px) {
    #footer-contact {
        font-size: 15px;
    }
}

#footer-email {
    color: #FFF;
    font-family: "Assistant", sans-serif;
    font-size: 20px;
    text-decoration: none; 
}

@media(max-width: 769px) {
    #footer-email {
        font-size: 15px;
    }
}

#footer-email:hover {
    text-decoration: underline;
}

#social-icon {
    width: 53px;
    height: 46px;
}

@media(max-width: 1200px) {
    #social-icon {
        width: 26px;
        height: 20px;
        
    }
}

#footer-linkedin {
    padding-top: 5%;
    padding-left: 17%;
}


#footer-gmail {
    padding-top: 5%;
    padding-left: 9%;
}

#footer-behance {
    padding-top: 5%;
    padding-left: 9%;
}

#footer-dribble {
    padding-top: 5%;
    padding-left: 9%; 
}


