.container {
  padding: 2% 4%;
  margin-left: 7%;
  margin-right: 3%;
  position: relative;
 display: flex;
justify-content: space-evenly;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

#hero-photo {
  display: block;
  margin: 0 auto;
  width: 110%;
  height: 100%;
  margin-top: 40px;
  vertical-align: middle;
}

#intro {
  font-size: 20px;
  font-family: "Assistant", sans-serif;
  max-width: 490px;
  margin-top: 100px;
  font-weight: 400;
  color: #233143;
  text-align: left;
  position: relative;
}

#my-name {
  font-size: 45px;
  font-family: "DM Serif Text", serif;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  color: #011638;
  position: relative;
}

#dots {
  padding-top: 35px;
}

#lets-chat {
  background-color: #ff7f5b;
  color: #fff;
  border: none;
  width: 156px;
  height: 56px;
  border-radius: 12px;
  margin-top: 48px;
  margin-left: 3rem;
  font-weight: 600;
  font-family: "Assistant", sans-serif;
  font-size: 20px;
  position: relative;
}

#lets-chat:hover {
  border: 3px solid;
  border-color: #ff7f5b;
  color: #ff7f5b;
  background-color: #fff;
}

#typewriter {
  font-size: 22px;
  padding-left: 3px;
  padding-right: 3px;
}

#coder {
  text-align: center;
}

#my-name {
  font-size: 35px;
}
#intro {
  font-size: 17px;
}
.hero-text {
  align-items: center;
}

@media (max-width: 991.98px) {
  #lets-chat {
    font-size: 17px;
    width: 270px;
    height: 50px;
    display: block;
    margin: 50px auto;
  }
  .content-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
  }
}
