.container {
display: block;
padding: 2% 4%;
margin-left: 7%;
margin-right: 3%;
position: relative;
}

.row {
display: flex;
flex-wrap: wrap;
    }

#hero-photo {
  position: relative;
  max-width: 120%; 
  width: 110%;
  height: 100%;
  margin-top: 40px;
  margin-left: 15%;
  vertical-align: middle;
}

@media (max-width: 575.98px){
  #hero-photo {
    max-width: 80%;
    display: block;
    margin: 0 auto ;
  }
}

#intro {
  font-size: 20px;
  font-family: "Assistant", sans-serif;
  max-width: 490px;
  margin-top: 100px;
  font-weight: 400;
  color: #233143;
  text-align: left;
  position: relative;
}

@media (max-width: 575.98px){
  #intro {
  font-size: 15px;
  }
}

#my-name {
  font-size: 45px;
  font-family: "DM Serif Text", serif;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  color: #011638;
  position: relative;
}

@media (max-width: 575.98px){
  #my-name {
  font-size: 35px;
  }
}

#dots {
  padding-top: 35px;


}

#lets-chat {
  background-color: #ff7f5b;
  color: #fff;
  border: none;
  width: 156px;
  height: 56px;
  border-radius: 12px;
  margin-top: 48px;
  margin-left:3.0rem;
  font-weight: 600;
  font-family: "Assistant", sans-serif;
  font-size: 20px;
  position: relative;
}

#lets-chat:hover {
   border: 3px solid;
  border-color: #ff7f5b;
  color: #ff7f5b;
  background-color: #fff;
}


#typewriter {
  font-size: 22px;
  padding-left: 3px;
  padding-right: 3px;
}

#coder {
  text-align: center;
}