#hero-photo {
  max-width: 100%;
}

#intro {
  margin-top: 105px;
  margin-left: 170px;
  font-size: 20px;
  font-family: "Assistant", sans-serif;
  max-width: 490px;
  font-weight: 400;
  color: #233143;
}

#my-name {
  font-size: 45px;
  font-family: "DM Serif Text", serif;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  color: #011638;
}

#lets-chat-one {
  background-color: #ff7f5b;
  color: #fff;
  border: none;
  width: 156px;
  height: 56px;
  border-radius: 12px;
  margin-top: 68px;
  margin-left: 3px;
  font-weight: 600;
  font-family: "Assistant", sans-serif;
}

#lets-chat-one:hover {
   border: 3px solid;
  border-color: #ff7f5b;
  color: #ff7f5b;
  background-color: #fff;
}

#typewriter {
  font-size: 22px;
  padding-left: 3px;
  padding-right: 3px;
}

#coder {
  text-align: center;
}