#title {
 font-size: 35px;
 font-family: 'DM Serif Text', serif;
 padding-top: 0px;
 padding-bottom: 45px;
 font-weight: 400;
 color: #011638;
 text-align: center;
}

#Vida-cover {
    margin-right: -130px;
    margin-bottom: 35px;
}

#Cityfalcon-cover {
    margin-left: -130px;
}

#Perfect-properties-cover {
    margin-right: -130px;
}

#Adulting-101-cover {
     margin-left: -130px;
}