
.container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    vertical-align: middle;
    flex-basis: auto;
    margin-bottom: 40px;
}

#profile-heading {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    font-family: 'DM Serif Text', serif;
    color: #011638;
    font-size: 35px;
}

@media(max-width: 576px) {
    #profile-heading {
        font-size: 25px;
    }
}

#icon {
    min-width: 70px;
}


#list-for-profile {
   list-style-type: none;
   display: block;
   margin: 0 auto;
   margin-right: 10px;
   margin-left: 10px;
}

#header-list {
    padding-top: 15px;
    font-size: 23px;
    font-family:'Assistant', sans-serif;
    font-weight: 700;
    color: #011638;
}

@media(max-width: 576px) {
    #header-list {
        font-size: 20px;
    }
}

#body-info {
     padding-top: 15px;
     font-family:'Assistant', sans-serif;
     font-weight: 400;
      color: #233143;
      min-width: 90px;
      font-size: 17px;
}
@media (max-width: 576px){
  #body-info {
       font-size: 15px;
       min-width: 70px;
  }
}