#heading {
 font-size: 35px;
 font-family: 'DM Serif Text', serif;
 margin-top: 80px;
 padding-top: 15px;
 padding-bottom: 25px;
 font-weight: 400;
 color: #011638;
 text-align: center;
}

#alpa {
    max-width: 15%;
    margin-left: 10%;
}

#testimonal-text {
    max-width: 70%;
    margin-left: 18%;
    color: #233143;
    font-family:'Poppins', sans-serif;
}

.carousel-caption {
    margin-top: 20%;
    padding-top: 4%;
    align-items: center;
}

#previous-control {
    color: #011638;
    background-color: #011638;
}

#next-control {
    color: #011638;
    background-color: #011638;
}

   
